
.paginaPerfil {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    user-select: none;
}

.vistaPerfil{
    background-color: transparent;
    height: 61.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input2{
    all:unset;
    text-align: left;
    border: 2px solid #c0c0c0;
    border-bottom: 2px 2px;
    padding: 0.50em;
    width: 60%;
    margin: 0.5em 0;
    background-color: #555a402d;
    color: #c0c0c0;
    margin-block-end: 2em;
}
