.paginaBuscar {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    user-select: none;
}

.vistaBuscar {
    background-color: bisque;
    height: 70em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.buscador {
    background-color: transparent;
    height: 10em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonBusqueda {
    height: 3em;
    width: 10em;
    background-color: #6c7059;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    cursor: pointer;
}

.botonBusqueda:hover {
    background-color: #555a40;
}

.input3 {
    all:unset;
    text-align: left;
    border: 2px solid #c0c0c0;
    border-bottom: 2px 2px;
    padding: 0.50em;
    width: 60%;
    margin: 0.5em 0;
    margin-right: 1em;
    background-color: #555a402d;
    color: #c0c0c0;
}