
.paginaAdmin {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
}

.logo2 {
    background-image: url(/img/logo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 8em;
    width: 8em;
    border-style: solid;
    border-color: #555a40;
}

.centro2 {
    background-image: url(/img/admin2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 76.8em;
    width: 129em;
}

.vistaAdministrador {
    background-color: transparent;
    height: 61.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Letras11 {
    color: #c0c0c0;
    font-family: fantasy;
    font-size: 6em;
    -webkit-text-stroke: 0.7px #2b2e21;
}

.Letras77 {
    color: #c0c0c0;
    font-family: fantasy;
    font-size: 3em;
    -webkit-text-stroke: 0.7px #2b2e21;
}