
.paginaAdmin {
    height: 100vh;
    width: 100vw;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
}

.logo2{
    background-image: url(/img/logo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 8em;
    width: 8em;
    border-style: solid;
    border-color: #555a40;
}

.centro2{
    background-image: url(/img/admin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 76.8em;
    width: 129em;
}