
.paginaHome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url(/img/home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

.boton {
    height: 3em;
    width: 20em;
    background-color: #6c7059;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    cursor: pointer;
}

.boton:hover{
    background-color: #555a40;
}

.Letras{
    color: #6c7059;
    font-family: fantasy;
}

.parteDerecha{
    background-color: transparent;
    height: 76em;
    width: 76em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor{
    background-color: #c0c0c0;
    height: 30em;
    width: 30em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column ;
    border-radius: 25px;
    border-style: solid;
    border-color: #555a40;
}

.contenedorCartel{
    background-color: transparent;
    height: 15em;
    width: 25em;
}

.parteIzquierda{
    background-color: transparent;
    height: 76em;
    width: 76em;
}

.letreroPrincipal{
    margin-left: 1em;
    font-size: 6em;
    color: #c0c0c0;
    font-family: fantasy;
    white-space: nowrap;/* ESTO HACE QUE LAS LETRAS SE SALGAN DEL DIV */
}





