
.paginaPeliculas {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    user-select: none;
}

.vistaPeliculas{
    background-color: bisque;
    height: 61.5em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

.cardPelicula {
    height: 10em;
    width: 9em;
    background-color: hsl(221, 40%, 54%);
    margin: .2em;
    border-radius: .5em;
    padding: .2em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.imagenPelicula {
    height: 10em;
    width: 9em;
    margin: .2em;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}