
.paginaPedidos {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    user-select: none;
}

.vistaPedidos{
    background-color: bisque;
    height: 76.8em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}