
.paginaLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url(/img/login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}
.parteIzquierda1{
    background-color: transparent;
    height: 76em;
    width: 76em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor1{
    background-color: #c0c0c0;
    height: 30em;
    width: 30em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column ;
    border-radius: 25px;
    border-style: solid;
    border-color: #555a40;
}
.parteDerecha1{
    background-color: transparent;
    height: 76em;
    width: 76em;
}

.inputs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    all:unset;
}

.input{
    all:unset;
    text-align: left;
    border: 2px solid #555a40;
    border-bottom: 2px 2px;
    padding: 0.25em;
    width: 80%;
    margin: 0.5em 0;
    background-color: #555a402d;
}

.contenedor2{
    background-color: transparent;
    height: 10em;
    width: 30em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

