.paginaPedidosAdmin {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    user-select: none;
}

.vistaPedidosAdmin {
    background-color: transparent;
    height: 70em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.cardPedidosAdmin {
    height: 15em;
    width: 25em;
    background-color: #c0c0c0;
    margin: .2em;
    border-radius: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-color: #555a40;
}

.imagenPeliculaAdmin {
    height: 8em;
    width: 8em;
    margin: .4em;
}

.parteIzquierda1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parteDerecha1 {
    height: 10em;
    width: 10em;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Letras4 {
    color: black;
    font-family: fantasy;
    font-size: 2.5em;
}

.Letras5 {
    color: black;
    font-family: fantasy;
    font-size: 1.5em;
}

.Letras6{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}