
.logo2{
    background-image: url(/img/logo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 10em;
    width: 10em;
    border-style: solid;
    border-color: #555a40;
}

.centro2{
    background-image: url(/img/admin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 76.8em;
    width: 129em;
}

.icono2 {
    height: 2em;
    width: 2em;
    background-image: url(/img/iconousuario.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.4em;
    border-color: transparent;
}

.icono6 {
    height: 2em;
    width: 2em;
    background-image: url(/img/iconousuarios.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.4em;
    border-color: transparent;
}