
.paginaUsuario {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    user-select: none;
}

.Letras1{
    color: #c0c0c0;
    font-family: fantasy;
    font-size: 6em;
}

.centro{
    background-image: url(/img/usuario.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 76.8em;
    width: 129em;
}

.vistaUsuario{
    background-color: bisque;
    height: 61.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}