
.paginaUsuario {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: center;
}

.lateral{
    background-color: #c0c0c0;
    height: 76.5em;
    width: 29em;
    border-style: solid;
    border-color: #555a40;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerLogo{
    background-color: transparent;
    height: 20em;
    width: 29em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    background-image: url(/img/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 8em;
    width: 8em;
    border-style: solid;
    border-color: #555a40;
}

.containerEndpoints{
    background-color: transparent;
    height: 57em;
    width: 29em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.endpointLateral{
    background-color: #555a4070;
    height: 3em;
    width: 25em;
    margin-top: 2em;
    border-style: solid;
    border-color: #555a40;
    border-radius: 5px;
}

.centro{
    background-image: url(/img/usuario.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 76.8em;
    width: 129em;
}

.Letras1{
    color: #c0c0c0;
    font-family: fantasy;
    font-size: 6em;
}