
.lateral{
    background-color: #c0c0c0;
    height: 76.5em;
    width: 25em;
    border-style: solid;
    border-color: #555a40;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerLogo {
    background-color: transparent;
    height: 10em;
    width: 29em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    background-image: url(/img/logo.gif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 10em;
    width: 10em;
    border-style: solid;
    border-color: #555a40;
}

.containerEndpoints {
    background-color: transparent;
    height: 57em;
    width: 29em;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.endpointLateral {
    background-color: #c0c0c0;
    height: 3em;
    width: 20em;
    margin-top: 2em;
    border-style: solid;
    border-color: #555a40;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.endpointLateral:hover {
    background-color: #c0c0c0;
    -webkit-text-stroke: 1px #2b2e21;
}

.nombre {
    font-size: 3em;
    color: #555a40;
    font-family: fantasy;
    -webkit-text-stroke: 1px #2b2e21;
}

.icono {
    height: 2em;
    width: 2em;
    background-image: url(/img/iconoadmin.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.4em;
    border-color: transparent;
}

.icono1 {
    height: 2em;
    width: 2em;
    background-image: url(/img/iconopeliculas.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.4em;
    border-color: transparent;
}

.icono3 {
    height: 2em;
    width: 2em;
    background-image: url(/img/iconopedidos.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.4em;
    border-color: transparent;
}

.icono4 {
    height: 2em;
    width: 2em;
    background-image: url(/img/iconoperfil.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.4em;
    border-color: transparent;
}

.icono5 {
    height: 2em;
    width: 2em;
    background-image: url(/img/iconologout.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.4em;
    border-color: transparent;
}

.icono7 {
    height: 2em;
    width: 2em;
    background-image: url(/img/iconobuscar.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.4em;
    border-color: transparent;
}